<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.jamesmorrisstudios.rrm2.alarm">

    <!-- Alarm: Permission to wake on boot. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Alarm: Permission to open the battery optimization settings. -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application>

        <!-- Alarm: Receiver for scheduled wakes. -->
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}${RECEIVER_ACTION}" />
            </intent-filter>
        </receiver>

        <!-- Alarm: Receiver for boot completed. -->
        <receiver android:name=".receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
